.cards-navigation-item {
  padding-left: 25px;
}

.cards-navigation-folder {
  cursor: pointer;
}

.cards-navigation .nav-link.active {
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  .app {
    height: 100dvh;
  }

  .cards-navigation {
    overflow: scroll;
  }

  .cards-navigation .navbar-nav {
    --bs-nav-link-padding-y: 0.25rem;
  }

  .offcanvas-body h5 {
    font-size: 1rem;
  }
}
